$sm: 576px;
$md: 768px;
$lg: 1024px;

// Small
@mixin phone-only {
    @media (max-width: $sm) {
        @content;
    }
}

@mixin phone-only-min {
    @media (min-width: $sm) {
        @content;
    }
}

// Medium
@mixin tablets {
    @media (max-width: $md) {
        @content;
    }
}

// Large
@mixin laptops {
    @media (max-width: $lg) {
        @content;
    }
}

@mixin laptops-min {
    @media (min-width: 1025px) {
        @content;
    }
}