.posts-container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 16.156rem 0;

    @include laptops {
        grid-template-columns: repeat(2, 1fr);
        max-width: 720px;
        margin: 15rem auto;
    }

    @include phone-only {
        grid-template-columns: repeat(1, 1fr);
        max-width: 360px;
    }

    .post {
        flex-basis: 360px;

        .post-image {
            img {
                width: 100%;
                max-width: 100%;
            }
        }

        .post-info {
            .post-subtitle {
                margin-top: 16px;
                color: $primary;
                @extend .roboto_bold_13;
            }

            .post-title {
                margin: 16px 0;

                h3 {
                    @extend .roboto_bold_24;
                    color: $black;

                    @include laptops {
                        font-size: 16px;
                    }
                }
            }

            .post-details {
                @include flex('center');

                .post-details__title {
                    @extend .roboto_medium_12;
                    color: $black;
                }

                .post-details__views,
                .post-details__date {
                    @extend .roboto_reg_12;
                    color: $gray;
                }

                .dot {
                    position: relative;
                    margin: 0 8px;
                    &::before {
                        content: ".";
                        width: 100%;
                        @include flex('', 'center');
                        position: absolute;
                        top: 50%;
                        transform: translateY(-75%);
                        font-size: 2rem;
                        color: $light-gray;
                    }
                }
            }

            .post-description {
                margin-top: 16px;

                p {
                    @extend .roboto_reg_14;
                    color: $gray;
                }
            }
        }
    }
}