<ul class="sub-wrapper">
    <li>
        <span>Categorie Header</span>
        <img src="/src/assets/images/navbar/chevron-down.svg" alt="">
    </li>
    <li>
        <span>Categorie Layout</span>
        <img src="/src/assets/images/navbar/chevron-down.svg" alt="">
    </li>
    <li>
        <span>Share Buttons</span>
        <img src="/src/assets/images/navbar/chevron-down.svg" alt="">
    </li>
    <li>
        <span>Gallery Categorie</span>
        <img src="/src/assets/images/navbar/chevron-down.svg" alt="">
    </li>
    <li>
        <span>Video Categorie</span>
        <img src="/src/assets/images/navbar/chevron-down.svg" alt="">
    </li>
</ul>