<ul class="sub-wrapper">
    <li>
        <span>Shop Header</span>
        <img src="/src/assets/images/navbar/chevron-down.svg" alt="">
    </li>
    <li>
        <span>Shop Layout</span>
        <img src="/src/assets/images/navbar/chevron-down.svg" alt="">
    </li>
    <li>
        <span>Share Buttons</span>
        <img src="/src/assets/images/navbar/chevron-down.svg" alt="">
    </li>
    <li>
        <span>Gallery Shop</span>
        <img src="/src/assets/images/navbar/chevron-down.svg" alt="">
    </li>
    <li>
        <span>Video Shop</span>
        <img src="/src/assets/images/navbar/chevron-down.svg" alt="">
    </li>
</ul>