<ul class="sub-wrapper">
    <li>
        <span>Post Header</span>
        <img src="/src/assets/images/navbar/chevron-down.svg" alt="">
    </li>
    <li>
        <span>Post Layout</span>
        <img src="/src/assets/images/navbar/chevron-down.svg" alt="">
    </li>
    <li>
        <span>Share Buttons</span>
        <img src="/src/assets/images/navbar/chevron-down.svg" alt="">
    </li>
    <li>
        <span>Gallery Post</span>
        <img src="/src/assets/images/navbar/chevron-down.svg" alt="">
    </li>
    <li>
        <span>Video Post</span>
        <img src="/src/assets/images/navbar/chevron-down.svg" alt="">
    </li>
</ul>