* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.main-wrapper {
  max-width: 1920px;
  margin: auto; }

.under-wrapp, .navbar-wrapper .navbar .navbar-header__wrapper .navbar-header {
  max-width: 1160px;
  margin: auto; }

.pointer {
  cursor: pointer; }

/* Regular 400 */
@font-face {
  font-family: 'Roboto Regular';
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype"); }

/* Medium 500 */
@font-face {
  font-family: 'Roboto Medium';
  src: url("../../assets/fonts/Roboto-Medium.ttf") format("truetype"); }

/* Bold 700 */
@font-face {
  font-family: 'Roboto Bold';
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype"); }

/* Roboto Regular 400 */
.rob_regular_base, .roboto_reg_12, .posts-container .post .post-info .post-details .post-details__views,
.posts-container .post .post-info .post-details .post-details__date, .roboto_reg_13, .sub-wrapper li, .roboto_reg_14, .posts-container .post .post-info .post-description p {
  font-family: "Roboto Regular"; }

.roboto_reg_12, .posts-container .post .post-info .post-details .post-details__views,
.posts-container .post .post-info .post-details .post-details__date {
  font-size: 0.75rem;
  line-height: 12px; }

.roboto_reg_13, .sub-wrapper li {
  font-size: 0.813rem;
  line-height: 13px; }

.roboto_reg_14, .posts-container .post .post-info .post-description p {
  font-size: 0.875rem;
  line-height: 20px; }

/* Roboto Medium 500 */
.rob_medium_base, .roboto_medium_12, .posts-container .post .post-info .post-details .post-details__title, .roboto_medium_16, .navbar-wrapper .navbar .navbar-items__wrapper .navbar-items .item > div p {
  font-family: "Roboto Medium"; }

.roboto_medium_12, .posts-container .post .post-info .post-details .post-details__title {
  font-size: 0.75rem;
  line-height: 12px; }

.roboto_medium_16, .navbar-wrapper .navbar .navbar-items__wrapper .navbar-items .item > div p {
  font-size: 1rem;
  line-height: 16px; }

/* Roboto Bold 700 */
.rob_bold_base, .roboto_bold_13, .posts-container .post .post-info .post-subtitle, .roboto_bold_24, .posts-container .post .post-info .post-title h3 {
  font-family: "Roboto Bold"; }

.roboto_bold_13, .posts-container .post .post-info .post-subtitle {
  font-size: 0.813rem;
  line-height: 13px; }

.roboto_bold_24, .posts-container .post .post-info .post-title h3 {
  font-size: 1.5rem;
  line-height: 30px; }

.sub-wrapper {
  width: 176px;
  max-width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #E9E9E9;
  border-top: 0; }
  .sub-wrapper li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E9E9E9;
    padding: 8px 0;
    list-style-type: none; }
    .sub-wrapper li:first-child {
      padding-top: 0; }
    .sub-wrapper li:last-child {
      border-bottom: 0;
      padding-bottom: 0; }
    .sub-wrapper li span {
      transition: transform 250ms; }
    .sub-wrapper li:hover {
      color: #9B9B9B; }
      .sub-wrapper li:hover span {
        transform: translateX(10px); }
    .sub-wrapper li img {
      transform: rotate(270deg); }

.navbar-wrapper {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  transition: top 0.3s; }
  .navbar-wrapper .navbar {
    width: 100%;
    background-color: #fff; }
    .navbar-wrapper .navbar .bg-overlay {
      position: absolute;
      width: 100%;
      height: 100vh;
      background: #0000004d;
      display: none; }
    @media (min-width: 576px) {
      .navbar-wrapper .navbar .bg-overlay {
        display: none !important; } }
    .navbar-wrapper .navbar .navbar-header__wrapper {
      border: 1px solid #E9E9E9;
      height: 81.5px; }
      .navbar-wrapper .navbar .navbar-header__wrapper .navbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%; }
        .navbar-wrapper .navbar .navbar-header__wrapper .navbar-header #btn-menu {
          cursor: pointer; }
          .navbar-wrapper .navbar .navbar-header__wrapper .navbar-header #btn-menu img {
            display: none; }
        @media (max-width: 576px) {
          .navbar-wrapper .navbar .navbar-header__wrapper .navbar-header #btn-menu img {
            display: block; }
          .navbar-wrapper .navbar .navbar-header__wrapper .navbar-header > div:not(#btn-menu) {
            display: none; } }
        @media (max-width: 1024px) {
          .navbar-wrapper .navbar .navbar-header__wrapper .navbar-header {
            width: 95%; } }
    .navbar-wrapper .navbar .navbar-items__wrapper {
      border: 1px solid #E9E9E9;
      height: 57px;
      top: 0; }
      .navbar-wrapper .navbar .navbar-items__wrapper .navbar-items {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%; }
        @media (min-width: 576px) {
          .navbar-wrapper .navbar .navbar-items__wrapper .navbar-items {
            gap: 2rem; } }
        .navbar-wrapper .navbar .navbar-items__wrapper .navbar-items .item {
          position: relative;
          display: flex;
          height: 100%; }
          .navbar-wrapper .navbar .navbar-items__wrapper .navbar-items .item:hover .sub {
            display: block; }
          .navbar-wrapper .navbar .navbar-items__wrapper .navbar-items .item > div {
            display: flex;
            align-items: center;
            cursor: pointer; }
            .navbar-wrapper .navbar .navbar-items__wrapper .navbar-items .item > div p {
              margin-right: 4px; }
          .navbar-wrapper .navbar .navbar-items__wrapper .navbar-items .item .sub {
            position: absolute;
            top: 3.5rem;
            display: none; }
      .navbar-wrapper .navbar .navbar-items__wrapper .navbar-mobile-header {
        display: none; }
      @media (min-width: 1025px) {
        .navbar-wrapper .navbar .navbar-items__wrapper {
          display: block !important; } }
      @media (max-width: 1024px) {
        .navbar-wrapper .navbar .navbar-items__wrapper {
          display: none;
          position: fixed;
          width: 320px;
          max-width: 100%;
          position: absolute;
          height: 100vh;
          background-color: #fff; }
          .navbar-wrapper .navbar .navbar-items__wrapper .navbar-mobile-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 30px;
            border-bottom: 1px solid #E9E9E9; }
          .navbar-wrapper .navbar .navbar-items__wrapper .navbar-items {
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 1rem; }
            .navbar-wrapper .navbar .navbar-items__wrapper .navbar-items .item {
              width: 100%;
              margin: 0;
              height: auto;
              border-bottom: 1px solid #E9E9E9; }
              .navbar-wrapper .navbar .navbar-items__wrapper .navbar-items .item > div {
                width: 100%;
                padding: 16px 30px; }
              .navbar-wrapper .navbar .navbar-items__wrapper .navbar-items .item .sub-show {
                display: block; }
              .navbar-wrapper .navbar .navbar-items__wrapper .navbar-items .item .sub {
                top: 3.1rem;
                background-color: #fff;
                z-index: 1;
                padding: 0; }
                .navbar-wrapper .navbar .navbar-items__wrapper .navbar-items .item .sub .sub-wrapper {
                  width: auto; } }

.posts-container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 16.156rem 0; }
  @media (max-width: 1024px) {
    .posts-container {
      grid-template-columns: repeat(2, 1fr);
      max-width: 720px;
      margin: 15rem auto; } }
  @media (max-width: 576px) {
    .posts-container {
      grid-template-columns: repeat(1, 1fr);
      max-width: 360px; } }
  .posts-container .post {
    flex-basis: 360px; }
    .posts-container .post .post-image img {
      width: 100%;
      max-width: 100%; }
    .posts-container .post .post-info .post-subtitle {
      margin-top: 16px;
      color: #EB0028; }
    .posts-container .post .post-info .post-title {
      margin: 16px 0; }
      .posts-container .post .post-info .post-title h3 {
        color: #000000; }
        @media (max-width: 1024px) {
          .posts-container .post .post-info .post-title h3 {
            font-size: 16px; } }
    .posts-container .post .post-info .post-details {
      display: flex;
      align-items: center; }
      .posts-container .post .post-info .post-details .post-details__title {
        color: #000000; }
      .posts-container .post .post-info .post-details .post-details__views,
      .posts-container .post .post-info .post-details .post-details__date {
        color: #9B9B9B; }
      .posts-container .post .post-info .post-details .dot {
        position: relative;
        margin: 0 8px; }
        .posts-container .post .post-info .post-details .dot::before {
          content: ".";
          width: 100%;
          display: flex;
          justify-content: center;
          position: absolute;
          top: 50%;
          transform: translateY(-75%);
          font-size: 2rem;
          color: #E9E9E9; }
    .posts-container .post .post-info .post-description {
      margin-top: 16px; }
      .posts-container .post .post-info .post-description p {
        color: #9B9B9B; }
